<h2>Please confirm your email</h2>

<p>A confirmation email has been sent to your email account.  You have to confirm your email before you can sign in.</p>

<%= button_to 'Back to Home', root_path %>


