<% title "Album" %>

	<%= render "shared/portfolio_nav" %>
<table>

  <tr>

    <th>Image</th>
    <th><%= link_to 'Add Images', { :action => 'add_images', :id => params[:id] }  %></th>
  </tr>



  <% for album_image in @album_images %>
    <tr>
			<% image = image_tag album_image.image.url, :width=> '200'%>
			<td><%= link_to image, {:action => 'show_album_image', :id => album_image.id} %></td>
			<td><%= album_image.caption %></td>
     
    </tr>
  <% end %>
</table>


